<div th:fragment="menu" xmlns:th="http://www.thymeleaf.org">
  <link rel="stylesheet" th:href="@{/css/menu.css}">
  <script src="https://kit.fontawesome.com/YOUR_FONT_AWESOME_KIT.js" crossorigin="anonymous"></script>

  <div class="menu-lateral">
    <div class="logo-container">
      <h2>Ótica OpenCenter</h2>
    </div>

    <nav class="navegacao-principal">
      <ul class="lista-menu">

        <li class="grupo-menu">
          <div class="categoria-menu">Operações</div>
          <ul>
            <li>
              <a th:href="@{/vendas}" class="item-menu">
                <i class="fas fa-shopping-cart"></i>
                <span>Vendas</span>
              </a>
            </li>
            <li>
              <a th:href="@{/armacoes}" class="item-menu">
                <i class="fas fa-glasses"></i>
                <span>Armações</span>
              </a>
            </li>
          </ul>
        </li>

        <li class="grupo-menu">
          <div class="categoria-menu">Administração</div>
          <ul>
            <li>
              <a th:href="@{/admins}" class="item-menu">
                <i class="fas fa-user-shield"></i>
                <span>Administradores</span>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
  </div>
</div>
