/* base.css */
:root {
  --fonte-principal: 'Helvetica', 'Arial', sans-serif;

  /* Tema Roxo mais Escuro */
  --azul-principal: #6a0dad;  /* Roxo principal */
  --azul-escuro: #4b0082;     /* Roxo ainda mais fechado */
  --azul-claro: #a020f0;      /* Roxo claro (se precisar) */

  --vermelho: #dc3545;
  --vermelho-escuro: #c82333;

  --cinza-claro: #f4f4f4;
  --cinza-borda: #ccc;

  --sombra-suave: 0 2px 15px rgba(0,0,0,0.1);
  --borda-arredondada: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-principal);
}

body {
  margin: 0;
  /* Espaço para o menu lateral fixo (250px) */
  padding-left: 250px;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
}
