/* Estilo do Menu Lateral */
.menu-lateral {
  width: 250px;
  height: 100vh;
  background: linear-gradient(135deg, var(--azul-principal), var(--azul-escuro));
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

/* Logo */
.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.menu-lateral h2 {
  text-align: center;
  font-size: 1.8em;
  color: #f1f1f1;
  margin-bottom: 20px;
}

/* Categorias */
.categoria-menu {
  font-size: 1.1em;
  font-weight: bold;
  color: #e0e0e0;
  margin: 15px 0 5px;
  padding-left: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 5px;
}

/* Estilo da Lista */
.menu-lateral ul {
  list-style-type: none;
  padding: 0;
}

.menu-lateral ul li {
  margin: 10px 0;
}

.menu-lateral ul li a {
  color: #f8f8f8;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out;
}

.menu-lateral ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: translateX(5px);
}

/* Ícones */
.item-menu i {
  margin-right: 10px;
  font-size: 18px;
  color: #f1f1f1;
}

